<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["title"] - Kadir Blog</title>
    <meta name="author" content="Mehmet Kadir Gülgün">
    <meta name="description" content="Mehmet Kadir Gülgün'ün Blogu">

    <!-- Tailwind -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }

        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: Arial, sans-serif;
        }

        .background {
            background-image: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            background-size:cover;
            background-repeat: no-repeat;
            background-position: bottom center;
            height: 45%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        header {
            text-align: center;
            color: white;
            padding: 10px 80px 80px 80px; 
            background-color: rgba(0, 0, 0, 0.5);
            margin-top: auto; 
        }

        
    </style>
    <!-- AlpineJS -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
</head>
<body class="bg-white font-family-karla">

    <!-- Top Bar Nav -->
    <nav class="w-full py-4 bg-blue-800 shadow">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between">

            <nav>
                <ul class="flex items-center justify-between font-bold text-sm text-white uppercase no-underline">
                    <li><a class="hover:text-gray-200 hover:underline px-4" href="/home/hakkimda">Hakkımda</a></li>
                    <li><a class="hover:text-gray-200 hover:underline px-4" href="/admin">admin</a></li>
                </ul>
            </nav>

            <div class="flex items-center text-lg no-underline text-white pr-6">
                <a href="https://www.facebook.com/mehmetkadir.gulgun/" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
                <a class="pl-6" href="https://github.com/mkadirgulgun" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a class="pl-6" href="https://x.com/mkadirgulgun" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="pl-6" href="https://www.linkedin.com/in/mehmet-kadir-g%C3%BClg%C3%BCn-622870252/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>

    </nav>

    <!-- Text Header -->
        <div class="background">
    <header >
            
            <a class="font-bold text-gray-800 uppercase hover:text-gray-700 text-5xl" style="color:white" href="/">
                Kadir Blog
            </a>
            
    </header>
        </div>
    <hr />


    <div class="container mx-auto flex flex-wrap py-6">

        <!-- Posts Section -->
        <section class="w-full md:w-2/3 flex flex-col items-center px-3">

            @RenderBody()

        </section>

        <!-- Sidebar Section -->
        <aside class="w-full md:w-1/3 flex flex-col items-center px-3">

            <div class="w-full bg-white shadow flex flex-col my-4 p-6">
                <p class="text-xl font-semibold pb-5">Hakkımda</p>
                <p class="pb-2">Merhaba, ben Mehmet Kadir Gülgün, 25 yaşında bir yazılım geliştiricisiyim. Acunmedya Akademi'de backend yazılım eğitimi alıyor ve kodlamayı bir yaşam tarzı olarak benimsiyorum. Yenilikçi fikirler üretmek ve karmaşık problemlere çözümler bulmak beni heyecanlandırıyor. Hem bireysel hem de takım halinde çalışmayı seviyor, yazılım dünyasında iz bırakmak için sabırsızlanıyorum.</p>
                <a href="/home/hakkimda" class="w-full bg-blue-800 text-white font-bold text-sm uppercase rounded hover:bg-blue-700 flex items-center justify-center px-2 py-3 mt-4">
                    Beni Tanıyın 😉
                </a>
            </div>

        </aside>

    </div>

    <footer class="w-full border-t bg-white pb-12">
        <div class="w-full container mx-auto flex flex-col items-center">
            <div class="flex flex-col md:flex-row text-center md:text-left md:justify-between py-6">
                <a href="/home/hakkimda" class="uppercase px-3">Hakkımda</a>
                <a href="#" class="uppercase px-3">İletişim</a>
            </div>
            <div class="uppercase pb-6">&copy; Kadir Blog</div>
        </div>
    </footer>

</body>
</html>